#FindFood{
    height: 50px;
    width: 110px;
    margin-left: 20px;
    position: relative;
    top: 10px;
    border: none;
    color: white;
    background-color: black;
    font-size: larger;
    font-weight: 500;
    outline: none;
    border-radius: 35px;
}
#icon{
    margin-top: 50px;
    height: 70px;
    width: 70px;
    color: gray;
   
}